body {
    background-color: #dad8d6;
}

img {
    border-radius: 50%;
    max-width: 50%;
    height: auto;
}

h1 {
    text-align: center;
}

section {
    margin: 20px 0 0 50px;
}

hr {
    width: 75%;
    margin: auto;
    border: 1px solid;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    text-align: justify;
}

article {
    margin-bottom: 20px;
}

article p {
    margin-left: 20px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #317333;
    color: burlywood;
}