body {
    background-color: #d74545;
}

hr {
    width: 75%;
    text-align: left;
    margin-left: 0;
}

h1 {
    text-align: center;
}

hr {
    width: 75%;
    margin: auto;
    border: 1px solid;
}

p {
    width: 50%;
    text-align: justify;
}

article {
    margin-bottom: 20px;
}

article p {
    margin-left: 20px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #317333;
    color: burlywood;
}